.lower-row {
    display: flex;
    height: 35%;
    width: 100%;
    margin-top: 10px;
    &:not(:last-child) {
        margin-right: 10px;
    }
    &-graph {
        height: 100%;
        &-container {
            height: calc(100% - 25px);
        }
        &-tabs.MuiBottomNavigation-root {
            height: 25px;
            background-color: #dbdada;
            justify-content: flex-start;

            .MuiButtonBase-root.MuiBottomNavigationAction-root {
                flex: 0;
                margin-right: 2px;
                box-shadow: 1px 2px #888888;
                &.Mui-selected {
                    background-color: #ffffff;
                }
                &:not(.Mui-selected) {
                    background-color: #f0f0f0;
                }
            }
        }
        .built-content {
            display: flex;
            font-size: 20px;
        }

        &.graph-1 {
            width: 29%;
        }
        &.graph-2 {
            width: 23%;
        }
        &.graph-3 {
            width: 27%;
        }
        &.graph-4 {
            width: 29%;
        }
    }
}